.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #007BFF;
  color: #fff;
}

.concept {
  color: #fff;
}

.title {
  font-size: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* 右に寄せるスタイル */
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fff;
  color: #007BFF;
  border: none;
  cursor: pointer;
}

.login-button {
  text-decoration: none;
  background-color: #fff;
  color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
