.sub-title {
    margin: 0px;
    padding: 4px;
    display: flex;
    justify-content: center;
}

.sub-title h3 {
    margin: 10px;
}

.sub-title p {
    margin: 10px;
}

.body {
    background: linear-gradient(90deg, #c4e4cf, #e2f1d9, #eff3de);

}