.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  text-align: center;
  background: linear-gradient(90deg, #c4e4cf, #e2f1d9, #eff3de);
  padding: 20px;
}

.image-item {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  text-align: center;
  background: #fff;
  padding: 10px;
}

.image-item p {
  font-size: 15px;
  text-align: left;
  margin: 10px;
}

.image-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
